<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %-28(%d{HH:mm:ss.SSS} [%.12thread]) %highlight(%-5level) %logger{32} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.funny" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>